<p id="notice"><%= notice %></p>

<p>
  <strong>City:</strong>
  <%= @office.city %>
</p>

<p>
  <strong>Country:</strong>
  <%= @office.country %>
</p>

<p>
  <strong>Address:</strong>
  <%= @office.address %>
</p>

<p>
  <strong>Email:</strong>
  <%= @office.email %>
</p>

<p>
  <strong>Website:</strong>
  <%= @office.website %>
</p>

<p>
  <strong>Twitter:</strong>
  <%= @office.twitter %>
</p>

<p>
  <strong>Pinterest:</strong>
  <%= @office.pinterest %>
</p>

<p>
  <strong>Mailchimp:</strong>
  <%= @office.mailchimp %>
</p>

<p>
  <strong>Mixcloud:</strong>
  <%= @office.mixcloud %>
</p>

<%= link_to 'Edit', edit_office_path(@office) %> |
<%= link_to 'Back', offices_path %>
