<%= render 'admin/admin_sidebar' %>

<div class="mainbar">
	<%= render 'admin/admin_pagehead',:pagehead_title => "Edit Accolade Category : #{@accolade_category.name}" %>

  <div class="matter">
  	<div class="container-c">
      <%= link_to 'Back to Accolade Categories', admin_accolade_categories_path, :class => "btn btn-warning" %>
      <%= link_to 'New Type', new_admin_accolade_category_path, :class => "btn btn-success" %>

      <div class="clearfix"></div>
			<%= render 'form' %>
		</div><!--/container-c-->
	</div><!--/matter-->
</div>