<%= render 'admin/admin_sidebar' %>

<div class="mainbar">
	<%= render 'admin/admin_pagehead',:pagehead_title => "Edit Offices : #{@office.city} #{@office.country}" %>

  <div class="matter">
  	<div class="container-c">
      <%= link_to 'Back to Offices', admin_offices_path, :class => "btn btn-warning" %>
      <%= link_to 'New Offices', new_admin_office_path, :class => "btn btn-success" %>

      <%= link_to raw('Trash'), admin_office_path(@office), :method => :delete, :confirm =>'Are you sure you want to delete?', :class => "btn btn-danger pull-right" %>

      <div class="clearfix"></div>
			<%= render 'form' %>
		</div><!--/container-c-->
	</div><!--/matter-->
</div>